name: publish

on:
  push:
    branches:
      - "main"

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
        with:
          ref: ${{ github.ref }}
      - run: sed -n 3p ./package.json
      - uses: "actions/setup-node@v2"
        with:
          node-version: '14'
      - name: "version bump"
        uses: "phips28/gh-action-bump-version@master"
        with:
          tag-prefix: ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: sed -n 3p ./package.json

  deploy:
    needs: [bump]
    runs-on: ubuntu-latest
    env:
      FIREBASE_PROJECT: ${{ secrets.FIREBASE_PROJECT }} 
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      SCALE_SERP_KEY: ${{ secrets.SCALE_SERP_KEY }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - uses: "actions/setup-node@v2"
        with:
          node-version: '14'
      - run: npm install -g firebase-tools@9.1.2          
      - run: firebase use --add $FIREBASE_PROJECT
      - uses: actions/cache@v2
        id: cache-emulators
        with:
          path: /home/runner/.cache/firebase/emulators
          key: ${{ runner.os }}-firebase-cli-v9.1.2
      - run: npm ci
      - run: npm run prod:ci:deploy
